# MongoDB Configuration
DB_MONGO=mongodb
DB_HOST_MONGO=localhost
DB_PORT_MONGO=27017
DB_NAME_MONGO=url_shortener
DB_USER_MONGO=
DB_PASS_MONGO=

# Server Configuration
PORT=3000
NODE_ENV=development

# Application Configuration
BASE_URL=http://localhost:3000
